<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
            function collect_selected_items() {
                var rows_count = $('#planes_table tr').length;
                var result = [];

                for (var i = 0; i < rows_count; i++) {
                    var checkbox_id = "checkbox_" + i;
                    var checkbox = $("#" + checkbox_id)[0];
                    if (checkbox != null && 
                        checkbox.checked) {
                        var cost_id = "cost_" + i;
                        var seats_id = "seats_" + i;
                        var free_seats_id = "free_seats_" + i;

                        var cost = $("#" + cost_id)[0]; 
                        var seats = $("#" + seats_id)[0];
                        var free_seats = $('#' + free_seats_id)[0];
                        console.log(cost, seats, free_seats);
                        if (cost != null && seats != null && free_seats != null) {
                            // when everything good delete slice TODO
                            cost = cost.innerHTML;
                            seats = seats.innerHTML;
                            free_seats = free_seats.innerHTML;

                            result.push([parseInt(cost, 10),
                                         parseInt(seats, 10),
                                         parseInt(free_seats, 10)]);
                        }
                    }
                }
                
                return result;
            }    

            function delete_checked_planes(costs) {

                for (var j = 0; j < costs.length; j++) {
                    var rows_count = $('#planes_table tr').length;

                    for (var i = 0; i < rows_count; i++) {
                        var cost_id = "cost_" + i;
                        var cost = $("#" + cost_id)[0]; 
                        if (cost != null && cost.innerHTML == costs[j]) {
                            var current_row_id = "row_" + i;                            
                            $("#" + current_row_id)[0].remove();
                            break;
                        }
                    }
                } 
            }

            function collect_new_plane_data() {
                var cost = $('#new_plane_cost')[0].value;
                var seats = $('#new_plane_seats')[0].value;

                return [cost, seats];
            }


            function add_new_plane(plane_data) 
            {
                var id = $('#planes_table tr').lenght;
                var checkbox = '<td><input type="checkbox" value="" id="checkbox_' + id + '" /></td>'
                var plane_cost = plane_data[0];
                var cost_cell = '<td><p id = "cost_' + id + '">' + plane_cost + '</p></td>';
                var plane_seats = plane_data[1];
                var seats_cell = '<td><p id = "seats_' + id + '">' + plane_seats + '</p></td>';
                var free_seats = plane_data[1];
                var free_seats_cell = '<td><p id = "free_seats_' + id + '">' + free_seats + '</p></td>';

                var row = '<tr>' + checkbox + cost_cell + seats_cell + free_seats_cell + '</tr>';
                $('#planes_table tr:last').after(row);
            }

        

            $(document).ready(function() {
                $("#delete_btn").click(function() {
                    var plane_cost_ = collect_selected_items();
                    var plane_cost_json = JSON.stringify(plane_cost_);
                    $.ajax({
                        url: '',
                        type: 'get',
                        data: {request_type: "delete_planes",
                               plane_cost: plane_cost_json},
                        success: function(response) {
                            if (response == 'success') {
                                delete_checked_planes(plane_cost_);
                            } else 
                            {
                                alert(response);
                            }

                        } 
                    });
                });

                $("#btn_add").click(function() 
                {
                    var plane_data = collect_new_plane_data();
                    var plane_cost_ = plane_data[0];
                    var plane_seats_ = plane_data[1];

                    $.ajax({
                        url: '',
                        type: 'get',
                        data: {request_type: "add_plane",
                               plane_cost: plane_cost_,
                               plane_seats: plane_seats_},
                        success: function(response) {
                            if (response == 'success') {
                                add_new_plane(plane_data);
                            } else 
                            {
                                alert(response);
                            }

                        } 
                    });

                });
            });

        </script>
    </head>
    {% load staticfiles %}
    <body style="background-image: url({% static "timetable/fon.jpg" %}); background-repeat: no-repeat;
                                   background-position: center top;"> 
        <div class="center-block" style="margin-top:  80px;">
            <input type="input" name="cost" class="form-control" placeholder="Cost"
                   style="width: 200px; height: 30px; border-color: blue;" id="new_plane_cost"/>
            <input type="input" name="seats" class="form-control" placeholder="Seats" 
                   style="width: 200px; height: 30px; border-color: blue; margin-top: 20px;"
                   id="new_plane_seats"/>
            <input type = "button" id = "delete_btn" value="Delete" class="btn btn-info"
                   style="width: 90px; margin-top: 20px;"/>
            <input name = "add" type="button" id = "btn_add" value="Add" class="btn btn-info"
                style="width: 90px; margin-left: 170px; margin-top: -120px;" />
            <table class="table table-hover" id="planes_table" style="margin-top: 20px;">
                <tbody>
                    <tr>
                        <th>   </th>
                        <th>Cost</th>
                        <th>Seats</th>
                        <th>Free seats</th>
                    </tr>
                    {%if planes_list%}
                    {%for plane in planes_list%}
                        <tr id = "row_{{ forloop.counter0 }}">
                            <td>
                                <input type="checkbox" id="checkbox_{{ forloop.counter0 }}"
                                            value=""/>
                            </td>
                            <td>
                                <p id = "cost_{{ forloop.counter0 }}">{{plane.1}}</p>
                            </td>
                            <td>
                                <p id = "seats_{{ forloop.counter0 }}">{{plane.2}}</p>
                            </td>
                            <td>
                                <p id = "free_seats_{{ forloop.counter0 }}">{{plane.3}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </body>
</html>
