<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script>
            function collect_selected_items() {
                var rows_count = $('#users_table tr').length;
                var result = [];

                for (var i = 0; i < rows_count; i++) {
                    var checkbox_id = "checkbox_" + i;
                    var checkbox = $("#" + checkbox_id)[0];
                    if (checkbox != null && 
                        checkbox.checked) {
                        var mail_id = "mail_" + i;
                        var mail = $("#" + mail_id)[0]; 
                        if (mail != null) {
                            result.push(mail.innerHTML);
                        }
                    }
                }
                
                return result;
            }    

            function delete_checked_users(mails) {

                for (var j = 0; j < mails.length; j++) {
                    var rows_count = $('#users_table tr').length;

                    for (var i = 0; i < rows_count; i++) {
                        var mail_id = "mail_" + i;
                        var mail = $("#" + mail_id)[0]; 
                        if (mail != null && mail.innerHTML == mails[j]) {
                            var current_row_id = "row_" + i;                            
                            $("#" + current_row_id)[0].remove();
                            break;
                        }
                    }
                } 
            }
        

            $(document).ready(function() {
                $("#delete_btn").click(function() {
                    var user_mails_ = collect_selected_items();
                    var json_user_mails_ = JSON.stringify(user_mails_);
                    $.ajax({
                        url: '',
                        type: 'get',
                        data: {request_type: "delete_user",
                               user_mails: json_user_mails_},
                        success: function(response) {
                            if (response == 'success') {
                                delete_checked_users(user_mails_);
                            }
                        } 
                    });
                });
            });

        </script>
    </head>
    {% load staticfiles %}
    <body style="background-image: url({% static "timetable/fon.jpg" %}); background-repeat: no-repeat;
                                   background-position: center top;"> 
        <div class="center-block" style="margin-top: 280px;">
            <table class="table table-hover" id="users_table" style="margin-top: 20px;">
                <tbody>
                    <tr>
                        <th>Check</th>
                        <th>User name</th>
                        <th>Email</th>
                    </tr>
                    <input type = "button" id = "delete_btn" />
                    {%if users_list %}
                    {%for user in users_list%}
                        <tr id = "row_{{ forloop.counter0 }}">
                            <td>
                                <input type="checkbox" id="checkbox_{{ forloop.counter0 }}"
                                            value=""/>
                            </td>
                            <td>
                                <p>{{user.4}}</p>
                            </td>
                            <td>
                                <p id = "mail_{{forloop.counter0 }}">{{user.1}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </body>
</html>
