<!DOCTYPE HTML> <html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
    {% load staticfiles %}
    <body style="background-image: url({% static "search/fon.jpg" %}); background-repeat: no-repeat; background-position: center top;"> 
    <div class="center-block" style="margin-top: 280px;">
        <div class="container">
            <form role="form">
                <div class="form-group">
                    <input class="form-control" placeholder="Write your request..." style="max-width: 60%; border-color: blue; margin-left: 250px;"> 
                    </input>
                    <button type="button" class="btn btn-info" style="min-width: 150px; margin-top: 20px; margin-left: 520px;">
                    Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-left" style="border-color: 80dfff; background: white;">
        <div class="container-fluid">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">To index URL</a></li>
                <li><a href="#">URL's</a></li>
                <li><a href="#">Change index</a></li>
            </ul>
        </div>
    </nav>
    </body>
</html>
